@ViewBag.msg
<p></p>
<div class="list-group">
    <ul>
        @foreach (var kamer in ViewBag.kamers)
        {
            <li class ="list-group-item">
                    <h4 class="list-group-item-heading">Kamer: @kamer.KamerNr</h4>
                    <p class="list-group-item-text">kamer.Naam</p>
                    <p class="list-group-item-text">Personen: @kamer.Capaciteit</p>
                <button>Delete</button>    
                <button>Delete</button>
            </li>
        }
    </ul>
</div>